HTTP_ADDR=:8080
GIN_MODE=release
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=GET,POST,OPTIONS
CORS_ALLOWED_HEADERS=Origin,Content-Type,Accept,X-Request-ID
CORS_ALLOW_CREDENTIALS=false
TDX_MAIN_HOSTS=
TDX_MAC_HOSTS=
TDX_POOL_SIZE=2
TDX_TIMEOUT=6s
TDX_RETRY_LIMIT=1
MAX_ITEMS=1000
SHUTDOWN_TIMEOUT=15s
SQLITE_PATH=./data/boards.sqlite
BOARD_REFRESH_TIMEOUT=2m
